.button-container-1 button, .mas, .button-container-1, [class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  width: 185px;
  text-align: center;
  text-transform: uppercase;
  border: solid 1px #59889f;
  transition: 0.25s ease-in-out;
  border-radius: 25px;
  font-size: var(--smallFont);
  color: #58595b;
  letter-spacing: 1.5px;
  z-index: 1;
  transition: ease all 0.5s;
}

[class^="btn-"]:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: currentColor;
}

.navbar [class^="btn-"],
.navbar .button-container-1 {
  width: 200px;
}

.button-container-1 button {
  width: 100%;
  height: 100%;
  background: var(--secondary);
  color: var(--white);
}

.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}


.mas {
  text-align: center;
  width: 100%;
  position: absolute;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.button-container-1.primary-color button {
  background: var(--primary);
}

.button-container-1 .mas {
  border: none;
}
.button-container-1:hover button {
  background: var(--primary);
  color: var(--white);
}
.outline-button:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  height: 170px;
}

.outline-button .dropdown-content {
  position: absolute;
  background: var(--white);
  top: 100%;
  border: solid 1px var(--grey);
  padding: 0;
  height: 0;
  margin: 0;
}

.outline-button {
  position: relative;
}

.outline-button .dropdown-content ul li {
  padding: 15px 20px;
  border-top: solid 1px #cfcfcf;
  color: var(--black);
  font-size: var(--midFont);
  line-height: var(--smallHeight);
}

.outline-button .dropdown-content ul li:nth-child(1) {
  border: none;
}

.outline-button .dropdown-content ul li a {
  text-decoration: none;
  color: inherit;
}

input.form-control {
  border: none;
  font-family: var(--font);
  font-size: inherit;
  color: var(--black);
  text-indent: 15px;
}

.form-control:focus {
  border-color: var(--white);
  box-shadow: inherit;
}

.tab-content .button-container-1 {
  min-width: 185px;
  position: relative;
  right: -20px;
}
.whitetextColor, .sticky .whitetextColor:hover {
  color: var(--white);
}

.sticky .whitetextColor {
  color: var(--black);
}
.customButton, .MuiButton-contained {
  background: transparent;
  box-shadow: inherit;
  color: var(--black);
  font-family: var(--font);
  letter-spacing: var(--letter1);
  border-radius: 0;
  border: 0;
  border-bottom: solid 2px currentColor;
  padding: 8px 20px;
  margin-top: 35px;
  display: inline-block;
}
@media (max-width:1600px) {

  .navbar [class^="btn-"],
  .navbar .button-container-1 {
    width: 220px;
    letter-spacing: 1px;
  }
}

@media (max-width:1380px) {

  .button-container-1 button,
  .mas,
  .button-container-1,
  [class^="btn-"] {
    font-size: 11px;
    height: 45px;
    line-height: 45px;
  }
}

@media (max-width:1280px) {
  .tab-content .button-container-1 {
    right: -50px;
  }
}

@media (max-width:1040px) {
  .webbtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:480px) {

  .button-container-1 button,
  .mas,
  .button-container-1,
  [class^="btn-"] {
    line-height: 50px;
    height: 50px;
    font-size: 13px;
  }

  .col-12.float-start.mt-5.flex-center {
    margin-top: 1rem !important;
  }
}